<div class="mb-3">
  <label for="filterText" class="form-label">Marka Ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="arama ifadesi giriniz"
  />
</div>
<div *ngIf="filterText.length > 2" class="alert alert-secondary">
  {{ filterText }} aradınız.
</div>




<ul class="list-group">
  <li class="list-group-item bg-dark text-light">Araba Markaları</li>
  <li
    [class]="getAllBrandClass()"
    class="list-group-item-secondary"
    routerLink="/cars"
  >
    Tüm Ürünler
  </li>
  <li
    (click)="setCurrentBrand(brand)"
  
    *ngFor="let brand of brands | brandfilterPipe: filterText"
    [class]="getCurrentBrandClass(brand)"
    class="list-group-item-secondary"
  >
    {{ brand.brandName }}
  </li>
</ul>



