<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div
      *ngFor="let cardto of carImages; let i = index"
      [ngClass]="getSliderClassName(i)"
    >
    <img
    *ngIf="cardto.imagePath != null"
    class="card-img-top"
    src="https://localhost:44399/{{ cardto.imagePath }}"
    alt="Card image cap"
  />
  <img
    *ngIf="cardto.imagePath == null"
    class="card-img-top"
    src="https://localhost:44399/Images/defaultImage.jpg"
    alt="Card image cap"
  />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<table class="table">
  <thead>
    <tr style="color: #28a745">
      <th>Araç No</th>
      <th>Araç Adı</th>
      <th>Marka</th>
      <th>Renk</th>
      <th>Model Yılı</th>
      <th>Açıklama</th>
      <th>Günlük Fiyat</th>
      <th></th>
    </tr>
  </thead>
  <tr *ngFor="let cardto of cardtos">
    <td>{{ cardto.carId }}</td>
    <td>{{ cardto.carName }}</td>
    <td>{{ cardto.brandName }}</td>
    <td>{{ cardto.colorName }}</td>
    <td>{{ cardto.modelYear }}</td>
    <td>{{ cardto.description }}</td>
    <td>{{ cardto.dailyPrice }}</td>
  </tr>
</table>

