<div class="mb-3">
  <label for="filterText" class="form-label">Araç Ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="arama ifadesi giriniz"
  />
</div>
<div *ngIf="filterText.length > 2" class="alert alert-secondary">
  {{ filterText }} aradınız.
</div>

<app-car-filter></app-car-filter>

<h5 class="text-center bg-dark rounded-top text-light mb-1 mt-1">
  Araba Listesi
</h5>
<table class="table table-hover table-warning table-striped">
  <thead>
    <tr>
      <th>Marka Adı</th>
      <th>Araç Adı</th>
      <th>Renk Adı</th>
      <th>Model Yılı</th>
      <th>Günlük Ücreti</th>
      <th>Açılaması</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cardto of cardtos | carfilterPipe: filterText">
      <td>{{ cardto.brandName }}</td>
      <td>{{ cardto.carName | uppercase }}</td>
      <td>{{ cardto.colorName }}</td>
      <td>{{ cardto.modelYear }}</td>
      <td>{{ cardto.dailyPrice }}₺</td>
      <td>{{ cardto.description }}</td>
      <td>
        <button
          routerLink="/cardto/{{ cardto.carId }}"
          type="button"
          class="btn btn-success"
        >
          detay
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="card" *ngFor="let cardto of cardtos" style="width: 20rem">
    <img
      *ngIf="cardto.imagePath != null"
      class="card-img-top"
      src="https://localhost:44399/{{ cardto.imagePath }}"
      alt="Card image cap"
    />
    <img
      *ngIf="cardto.imagePath == null"
      class="card-img-top"
      src="https://localhost:44399/Images/defaultImage.jpg"
      alt="Card image cap"
    />

    <div class="container">
      <table class="table table-sm">
        <tr>
          <td colspan="2">
            <h5 title="Araç marka-model bilgisi.">{{ cardto.carName | uppercase }}</h5>
          </td>
        </tr>
        <tr>
          <td>
            <p title="Araç markası.">{{ cardto.brandName }}</p>
          </td>
          <td>
            <p title="Araç model yılı.">{{ cardto.modelYear }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p title="Araç açıklaması.">{{ cardto.description }}</p>
          </td>
          <td>
            <p title="Araç rengi.">{{ cardto.colorName }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" title="Araç bilgisini paylaş."><i class="fa fa-share-alt"></i></a>
          </td>
          <td>
            <a href="#" title="Aracı favorilerine ekle"><i class="fa fa-heart"></i></a>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <h5 title="Aracın günlük ücret bilgisi.">{{ cardto.dailyPrice }}₺ / Günlük</h5>
          </td>
        </tr>

      </table>
    </div>
    <p>
      <button
        routerLink="/cardto/{{ cardto.carId }}"
        class="btn  btn-outline-success btn-sm"
        title="Aracın detaylarını görmek için tıkla."
      >
        Detaylara bak
      </button>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6">burası car bilgileri olacak</div>
  <div class="col-6">burası rental işlemleri olacak</div>
</div>
